@charset "utf-8";
/* CSS Document */

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica", "Arial", "Tahoma";
	text-align:center;
	font-size: 8pt;
	}

h2 {font-size: 16px}	/* 22px */
h3 {font-size: 14px}	/* 20px */
h4 {font-size: 12px}	/* 18px */
h5 {font-size: 10px}	/* 16px */
h6 {font-size: 10px}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 200;
}

p{
	margin-bottom:0;
}

a{	text-decoration: none;
	color:inherit;
	}

img {
	text-align: center;
	max-width: 100%;
}

.box{
	display: flex;
}


#wrapper {
	width: 200mm;
	margin:0;
}

#kart {
	display: inline-block;
	width:87mm;
	height: 50mm;
	margin : 2mm;
	color: #2A0000;
	border: #ff1a75 solid 2px;
}

#isimlik {
	height: 75%;
	border-bottom: #ff1a75 solid 1px;
}

#logoluk {
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 20mm;
}

#logo {
	margin-top: 1mm;
	width: 20mm;
}

#proje {
}

#no {
	font-size: 2em;
}

#ic_isimlik {
		flex-direction: column;
		width: 100%;
		border-left: #ff1a75 solid 1px;
}

#etkinlik {
	flex-grow: 2;
	font-weight: bolder;
	line-height: 50%;
}

#tarih{
	flex-grow: 1;
	line-height: 50%;
}

#yazi {
	flex-grow: 2;
	font-weight: bolder;
	font-size: 11pt;
}

#ogr_isim{
	flex-grow: 4;
	font-size: 1.6em;
	font-weight: bold;
	color: #ffffff;
	background-color: #ff1a75;
}


#ogr_okul{
	justify-content: center;
	height: 25%;
	font-size: 10pt;
	font-weight: 600;	
	color: #ffffff;
	background-color: #ff1a75;
}


#il_dal {
	flex-grow: 2;
	justify-content: space-around;;
}




#kart_dan {
	display: inline-block;
	width:87mm;
	height: 50mm;
	margin : 2mm;
	color: #2A0000;
	border: #0099ff solid 2px;
}

#isimlik_dan {
	height: 75%;
	border-bottom: #0099ff solid 1px;
}


#ic_isimlikdan {
		flex-direction: column;
		width: 100%;
		border-left: #0099ff solid 1px;
}


#dan_isim{
	flex-grow: 4;
	font-size: 1.6em;
	font-weight: bold;
	color: #ffffff;
	background-color: #0099ff;
}


#dan_okul{
	justify-content: center;
	height: 25%;
	font-size: 10pt;
	color: #ffffff;
	font-weight: 600;
	background-color: #0099ff;
}



#kart_per {
	display: inline-block;
	width:87mm;
	height: 50mm;
	margin : 2mm;
	color: #2A0000;
	border: #800000 solid 2px;
}

#isimlik_per {
	height: 75%;
	border-bottom: #800000 solid 1px;
}


#ic_isimlikper {
		flex-direction: column;
		width: 100%;
		border-left: #800000 solid 1px;
}


#per_isim{
	flex-grow: 4;
	font-size: 1.6em;
	font-weight: bold;
	color: #ffffff;
	background-color: #b30000;
}


#per_gorev{
	justify-content: center;
	height: 25%;
	font-size: 12pt;
	font-weight: 600;	
	color: #ffffff;
	background-color: #b30000;
	text-transform: uppercase;
}


@page {
  size: A4;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 10mm;

}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
