@charset "utf-8";
/* CSS Document */

article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica", "Arial", "Tahoma";
	text-align:center;
	font-size: 8pt;
	}

h2 {font-size: 16px}	/* 22px */
h3 {font-size: 14px}	/* 20px */
h4 {font-size: 12px}	/* 18px */
h5 {font-size: 10px}	/* 16px */
h6 {font-size: 10px}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 200;
}

p{
	margin-bottom:0;
}

a{	text-decoration: none;
	color:inherit;
	}

img {
	text-align: center;
	max-width: 100%;
}

.box{
	display: flex;
}


#wrapper {
	width: 215mm;
	margin:0;
	margin-top:15px;
}

#kart {
	display: inline-block;
	width:100mm;
	height: 70mm;
	margin : 1mm;
	color: #2A0000;
	border: #944dff solid 2px;
}

#isimlik {
	height: 60mm;
	border-bottom: #944dff solid 1px;
}

#logoluk {
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 20mm;
}

#logo {
	margin-top: 1mm;
	width: 20mm;
}

#proje {
}

#no {
	font-size: 2.2em;
	font-weight: bolder;
}

#ic_isimlik {
		flex-direction: column;
		width: 100%;
		border-left: #944dff solid 1px;
		height: 60mm;
}

#ic_is2 {
        height:60mm;

}

#en_ic {

	flex-direction: column;
        height:40mm;
        width: 50mm;

}

#foto {
    height:40mm;
    width:30mm;
    border-left: #944dff solid 1px;
}


#etkinlik {
	font-weight: bolder;
	line-height: 50%;
	flex-grow: 2;
}

#tarih{
	line-height: 50%;
	flex-grow: 1;
}

#yazi {
	font-weight: bolder;
	font-size: 1.6em;
	flex-grow: 2;
}

#ogr_isim{
	font-size: 1.8em;
	font-weight: bold;
	color: #ffffff;
	background-color: #944dff;
	height:15mm;
	justify-content: center;
}


#ogr_okul{
	justify-content: center;
	height: 10mm;
	font-size: 10pt;
	font-weight: 600;	
	color: #ffffff;
	background-color: #944dff;
}


#il_dal {
	justify-content: space-around;
	height:10mm;
}




#kart_dan {
	display: inline-block;
	width:100mm;
	height: 70mm;
	margin : 1mm;
	color: #2A0000;
	border: #0000e6 solid 2px;
}

#isimlik_dan {
	height: 60mm;
	border-bottom: #0000e6 solid 1px;
}


#ic_isimlikdan {
		flex-direction: column;
		width: 100%;
		height: 60mm;
		border-left: #0000e6 solid 1px;
}


#dan_isim{
	flex-grow: 4;
	font-size: 1.8em;
	font-weight: bold;
	color: #ffffff;
	background-color: #0000e6;
	height: 15mm;
}


#dan_okul{
	justify-content: center;
	height: 10mm;
	font-size: 10pt;
	color: #ffffff;
	font-weight: 600;
	background-color: #0000e6;
}



#kart_per {
	display: inline-block;
	width:100mm;
	height: 70mm;
	margin : 1mm;
	color: #2A0000;
	border: #800000 solid 2px;
}

#isimlik_per {
	height: 60mm;
	border-bottom: #800000 solid 1px;
}


#ic_isimlikper {
		flex-direction: column;
		width: 100%;
		border-left: #800000 solid 1px;
		height: 60mm;
}


#per_isim{
	flex-grow: 4;
	font-size: 1.6em;
	font-weight: bold;
	color: #ffffff;
	background-color: #b30000;
	height:15mm;
	justify-content: center;
}


#per_gorev{
	justify-content: center;
	height: 10mm;
	font-size: 11pt;
	font-weight: 600;	
	color: #ffffff;
	background-color: #b30000;
	text-transform: uppercase;
}


#foto_per {
	width:29mm;
	height:auto;
   	border-left: #800000 solid 1px;
}




@page {
  size: A4;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 10mm;

}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
